@import "../../../assets/styles/variables.scss";


  
.mat-toolbar-row{
    background-color: rgb(226, 226, 226);
    height: 200px;
}

.center-content {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100%; /* Define a altura para centralizar verticalmente */
  
    .content {
      display: flex;
      flex-direction: column;
      align-items: center; /* Centraliza o conteúdo verticalmente no container */
    }
  
    img {
      margin-bottom: 10px; /* Adiciona espaço entre a imagem e o título */
    }

/*Tamano del parrafo y color*/
    p {
      font-size: 18px; 
      color: #ec5e1b;
    }
  }
    
/*Cursor en la imagen*/
img:hover{
    cursor: pointer;
    
}
/*Tamano del titulo*/
.mat-toolbar-row h1 {
    
    font-size: 40px; 
  }
 
  