<mat-toolbar>
    <mat-toolbar-row class="center-content">
      <div class="content">
        <img src="../../../assets/images/global.png" alt="pokexed" width="75" height="75"(click)="home">
        <h1>GLOBALSISTEC</h1>
        <p>ºSoftware ºTecnología ºNegocios</p>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  