<div class="login">
    <div class="login-triangle"></div>
    
    <h2 class="login-header">Log in</h2>
  
    <form class="login-container">
      <p><input type="email" placeholder="Email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"></p>
      <p><input type="password" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"></p>
      
      <p><input type="button"(click)="login()" value="Log in"></p>
    </form>
  </div>