
        /* Estilos generales */
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        /* Encabezado */
        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        /* Contenedor principal */
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
        }

        /* Estilos de texto */
        h1 {
            color: #fffbfb;
        }

        p {
            line-height: 1.6;
        }

        /* Enlaces */
        a {
            color: #0077e6;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
        button{
            text-align: end;
        }

        .container {
            position: relative;
        }
        
        .exit-button {
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 10px; /* Adjust margin as needed */
        }
        