<header>
    <mat-icon>info</mat-icon>
    <h1> Ayuda</h1>
</header>
<div class="container">
    <h2>Introducción</h2>
    <p>Bienvenido a nuestra página de ayuda. Aquí encontrarás información y recursos para resolver tus preguntas y problemas.</p>

    <h2>Preguntas frecuentes</h2>
    <p>Consulta nuestras <a href="#">Preguntas Frecuentes</a> para encontrar respuestas a las dudas comunes.</p>

    <h2>Contacto</h2>
    <p>Si no puedes encontrar la respuesta que buscas, no dudes en <a href="#">contactarnos</a> directamente. Estamos aquí para ayudarte.</p>
  <hr>
    <div class="container">
    <!-- Existing content -->

    

    <button mat-raised-button color="accent" class="exit-button" (click)="onNoClick()">
        <mat-icon>cancel</mat-icon> Salir
    </button>
</div>
  
</div>