

<div class="exit-container">
  <div class="exit-content">
    <h2>¿Estás seguro de que quieres salir?</h2>
    <p>Si sales ahora, tendras que volver a iniciar session</p>
    <br>
    
    <br>
    <div class="exit-buttons">
        
      <!-- <button class="cancel-button">Cancelar</button> -->

      <button mat-raised-button  (click)="onNoClick()">
        <mat-icon>cancel</mat-icon>   cancelar
      </button>
      <button mat-raised-button (click)="onLogout()">
        <mat-icon>power_settings_new</mat-icon>
    </button>
    </div>
  </div>
</div>


