.exit-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exit-content {
  text-align: center;
}

.exit-buttons {
  margin-top: 20px; /* Ajusta el espacio entre el texto y los botones según sea necesario */
}

/* Si tienes clases como 'cancel-button', puedes aplicar estilos a ellas aquí */
