/* You can add global styles to this file, and also import other style files */

html, body { height: 90%; }
body { 
    margin:50px;
    
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url("fondo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }
    
    .example-headers-align .mat-expansion-panel-header-description {
        justify-content: space-between;
        
      }
      
      .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
        margin-left: 8px;
        
      }
      
      
        