<h2>Actualizar Registro</h2>
<hr>
<mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="nombre">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Apellido</mat-label>
    <input matInput [(ngModel)]="apellido">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Edad</mat-label>
    <input matInput type="number" min="1" [(ngModel)]="edad">
  </mat-form-field>
  

  <mat-form-field>
    <mat-label>Profesion</mat-label>
    <input matInput [(ngModel)]="profesion">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Sexo</mat-label>
    <input matInput [(ngModel)]="sexo">
  </mat-form-field>
  <mat-action-row>


<div class="boton">
    <button mat-raised-button color="accent"(click)="onNoClick()">
      <mat-icon>cancel</mat-icon>   cancelar
    </button>
    <button mat-raised-button color="warn" (click)="confirmarUpdateElemento()">
      <mat-icon>how_to_reg</mat-icon>  Guardar 
    </button>
    </div>
