<h2>Realmente deseas eliminar este registro</h2>
<hr>
<table>
  
    <tr>
      <h3><td>{{dpi}}</td>
      <td>{{nombre}}</td>
      <td>{{apellido}}</td>
      <td>{{edad}}</td>
      <td>{{profesion}}</td>
      <td>{{sexo}}</td>
    </h3></tr>
  </table>
    
<br>

    <div class="boton-container" >    
      <button mat-raised-button color="accent"(click)="onNoClick()">
        <mat-icon>cancel</mat-icon>  cancelar
      </button>
      <button mat-raised-button color="warn" (click)="confirmarBorarElemento()">
        <mat-icon>delete</mat-icon> eliminar
        
      </button>
    </div> 
