table {
    border-collapse: collapse; /* Combina los bordes de las celdas para crear un espacio uniforme */
    width: 100%;
  }
  
  th, td {
    padding: 5px; /* Agrega espacio interno (relleno) a las celdas */
  }
  

h2{
    text-align: center;
    color: rgb(31, 27, 78);
}

h3{
    font-family:cursive;
}
.boton-container {
  text-align: end; 
  margin-top: 20px;   
}

.boton-container button {
  margin: 10px;       
}