
 <mat-accordion >
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title >
        <mat-icon>view_headline</mat-icon>
        Desplegar
        </mat-panel-title>

        <mat-panel-description>
        Tabla de Registros de empleados
        </mat-panel-description>
        </mat-expansion-panel-header>
    

        <mat-panel-title >
        <b>Crear Registro</b>
        <button mat-icon-button (click)="createpersona(createpersona)">
        <mat-icon>person_add</mat-icon>
        </button> 

        <b>Ayuda</b>
        <button mat-icon-button (click)="info(info)">
        <mat-icon>info</mat-icon>
        </button>

        <!-- <b>Cerrr session</b>
        <button mat-icon-button (click)="onLogout()">
        <mat-icon>close</mat-icon>
        </button> -->

        <b>Cerrr session</b>
        <button mat-icon-button (click)="exit(exit)">
        <mat-icon>close</mat-icon>
        </button>

      </mat-panel-title>

    
  </mat-expansion-panel> 

 

  <!--Tabla de datos -->
<table mat-table [dataSource]="datasource" class="mat-elevation-z8">
  
 
    <!-- Columna de posision "ID"-->
    <ng-container matColumnDef="dpi">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.dpi}} </td>
    </ng-container>
    
    <!--columna de Nombre-->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>
  
  <!-- Columna de apellido -->
  <ng-container matColumnDef="apellido">
    <th mat-header-cell *matHeaderCellDef> Apellido </th>
    <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
  </ng-container>
  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <!--columna de Edad-->
  <ng-container matColumnDef="edad">
    <th mat-header-cell *matHeaderCellDef> Edad </th>
    <td mat-cell *matCellDef="let element"> {{element.edad}} </td>
  </ng-container>

  <!--columna de Sexo-->
  <ng-container matColumnDef="sexo">
    <th mat-header-cell *matHeaderCellDef> Sexo </th>
    <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
  </ng-container>

  <!--columna de porfesion-->
  <ng-container matColumnDef="profesion">
    <th mat-header-cell *matHeaderCellDef> Profesion </th>
    <td mat-cell *matCellDef="let element"> {{element.profesion}} </td>
  </ng-container>

  
<!-- Columna de borrar -->
<ng-container matColumnDef="borrar">
  <th mat-header-cell *matHeaderCellDef></th>
  <td mat-cell *matCellDef="let element">
    <button mat-icon-button (click)="borrarElemento(element)">
      <mat-icon>delete</mat-icon>
    </button>
  </td>
</ng-container>

<!--columna editar-->
<ng-container matColumnDef="editar">
  <th mat-header-cell *matHeaderCellDef></th>
  <td mat-cell *matCellDef="let element">
    <button mat-icon-button (click)="UpdateElemento(element)">
      <mat-icon>edit</mat-icon>
    </button>
  </td>
</ng-container>

</table>



